<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:switch="${movies}">
        <h2 th:case="null">No movies yet!</h2>
        <div th:case="*">
            <h2>Movies count: <span th:text="${#lists.size(movies)}"></span></h2>
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Genre</th>
                    <th>Director</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movie : ${movies}">
                    <td th:text="${movie.title()}"></td>
                    <td th:text="${movie.releaseYear()}"></td>
                    <td th:text="${movie.genre()}"></td>
                    <td th:text="${movie.director()}"></td>
                    <td><img th:src="@{/files/images/{posterFileName}(posterFileName=${movie.posterFileName})}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>